.git
.dockerignore
Dockerfile
.gitignore
build
.idea
.pytest_cache
.gitlab-ci.yaml
.empty
dist
tmp
mongo
compose
scratch/
docker-compose.yaml
stack.yaml
*.iml
*.log
WESkit.egg-info
__pycache__
uwsgi_server/certs/
!uwsgi_server/certs/.keep
.editorconfig
.coverage*
test-data/
.snakemake/
git-hooks/
.mypy*
workflows/
