.git
.dockerignore
Dockerfile
.gitignore
build
.idea
.pytest_cache
.gitlab-ci.yaml
.empty
dist
tmp
mongo
compose
scratch/
docker-compose.yaml
stack.yaml
*.iml
*.log
WESkit.egg-info
__pycache__
uWSGI_Server/certs/weskit.*
.editorconfig
