*.code-workspace
tmp/
trash/
__pycache__/
.idea/
build/
*.iml
WESkit.egg-info
dist
settings.json
*.log
scratch/
.env
mongo
compose
*~
.Trash*
data/
test-data/
*.gz
.coverage*
testfile
uwsgi_server/certs
!uwsgi_server/certs/.keep
