TESTING:
  type: boolean
ENV:
  type: string
  allowed:
    - production
    - development
DEBUG:
  type: boolean

require_workdir_tag:
  type: boolean
  required: true

static_service_info:
  type: dict
  required: true
  schema:
    id:
      type: string
      required: true
    name:
      type: string
      required: true
    type:
      type: dict
      required: true
      schema:
        group:
          type: string
          required: true
        artifact:
          type: string
          required: true
        version:
          type: string
          required: true
    description:
      type: string
      required: false
      default: ""
    organization:
      type: dict
      required: true
      schema:
        name:
          type: string
          required: true
        url:
          type: string
          required: true
    contact_url:
      type: string
      required: false
      default: "mailto:unknown"
    documentation_url:
      type: string
      required: false
      default: "https://gitlab.com/one-touch-pipeline/weskit/documentation/-/wikis/home"
    created_at:
      type: datetime
      required: false
      default: 2021-01-01
    updated_at:
      type: datetime
      required: false
      default: 2021-01-01
    environment:
      type: string
      required: false
      default: unknown
    version:
      type: string
      required: true
    workflow_type_versions:
      type: dict
      required: true
      valuesrules:
        type: dict
        required: true
        schema:
          workflow_type_version:
              type: list
              required: true
              schema:
                type: string
    supported_filesystem_protocols:
      type: list
      required: true
      schema:
        type: string
    workflow_engine_versions:
      type: dict
      required: true
      schema:
        SMK:
          type: string
        NFL:
          type: string
    default_workflow_engine_parameters:
      type: dict           # workflow engine names
      required: false
      schema:
        NFL: &default_workflow_engine_parameters
          type: dict       # engine version tags
          required: false
          valuesrules:
            type: list
            default: []
            schema:        # engine parameter
              type: dict
              schema:
                name:
                  required: true
                  type: string
                value:
                  required: false
                  type: string
                  nullable: true     # e.g. interpret None values as software default
                api:
                  type: boolean
                  default: false
        SMK: *default_workflow_engine_parameters

    auth_instructions_url:
      type: string
      required: true
    tags:
      type: dict
      required: false
      valuesrules:
        type: string


login:
  type: dict
  required: false
  schema:
    enabled:
      type: boolean
      required: true
    jwt:
      type: dict
      required: false
      schema:
        JWT_COOKIE_SECURE:
          type: boolean
          default: true
        # https://flask-jwt-extended.readthedocs.io/en/stable/options/#JWT_TOKEN_LOCATION
        JWT_TOKEN_LOCATION:
          type: list
          default: ["headers"]
        # https://flask-jwt-extended.readthedocs.io/en/stable/options/#JWT_HEADER_NAME
        JWT_HEADER_NAME:
          type: string
          default: "Authorization"
        # https://flask-jwt-extended.readthedocs.io/en/stable/options/#JWT_HEADER_TYPE
        JWT_HEADER_TYPE:
          type: string
          default: "Bearer"
        JWT_ALGORITHM:
          type: string
          default: "RS256"
        JWT_DECODE_AUDIENCE:
          type: string
          nullable: true
          default: null
        JWT_IDENTITY_CLAIM:
          type: string
          default: "sub"
        JWT_ACCESS_COOKIE_PATH:
          type: string
          default: "/"
        JWT_REFRESH_COOKIE_PATH:
          type: string
          default: "/"
      default:
        # https://flask-jwt-extended.readthedocs.io/en/stable/options/#JWT_TOKEN_LOCATION
        JWT_TOKEN_LOCATION: [ "headers" ]
        # https://flask-jwt-extended.readthedocs.io/en/stable/options/#JWT_HEADER_NAME
        JWT_HEADER_NAME: "Authorization"
        # https://flask-jwt-extended.readthedocs.io/en/stable/options/#JWT_HEADER_TYPE
        JWT_HEADER_TYPE: "Bearer"
        JWT_COOKIE_SECURE: true
        JWT_ALGORITHM: "RS256"
        JWT_DECODE_AUDIENCE: null
        JWT_IDENTITY_CLAIM: "sub"
        JWT_ACCESS_COOKIE_PATH: "/"
        JWT_REFRESH_COOKIE_PATH: "/"


# Celery configuration. Use keys and values according to
# https://docs.celeryproject.org/en/stable/userguide/configuration.html#configuration
#
# WARNING: You can override values that are supposed to be set via environment variables, such
#          as CELERY_RESULT_BACKEND/RESULT_BACKEND and BROKER_URL.
celery:
  type: dict
  default: {}
  required: true
